/* @import 'tailwindcss/preflight';
@import 'tailwindcss/utilities'; */
@import 'tailwindcss';

@theme {
	/* Background colors */
	--color-bg: #111828;
	--color-surface: #202938;
	--color-surface-2: #2e3745;

	/* Border */
	--color-border-strong: #454e5b;

	/* Text colors */
	--color-text: #ffffff;
	--color-text-2: #d0d3d9;
	--color-text-3: #989fad;
	--color-text-disabled: #6c7380;

	/* Accent colors */
	--color-accent: #1190d0;
	--color-accent-hover: #0f82bb;
	--color-accent-active: #0e73a6;
	--color-accent-warm: #efc318;
}
:root {
	/* Background colors */
	--color-bg: #111828;
	--color-surface: #202938;
	--color-surface-2: #2e3745;

	/* Border */
	--color-border-strong: #454e5b;

	/* Text colors */
	--color-text: #f4ecec;
	--color-text-2: #d0d3d9;
	--color-text-3: #989fad;
	--color-text-disabled: #6c7380;

	/* Accent colors */
	--color-accent: #1190d0;
	--color-accent-hover: #0f82bb;
	--color-accent-active: #0e73a6;
	--color-accent-warm: #efc318;
}

body {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
}

.container {
	column-gap: 2rem;
	grid-template-areas:
		'top top'
		'main side';

	.top {
		grid-area: top;
	}

	.main {
		grid-area: main;

		.hourly-container {
			max-height: 10rem;
			overflow: hidden;
			transition: max-height 0.3s ease;
		}
		.hourly-container.expanded {
			max-height: 20rem;
		}
		.toggle-arrow {
			transform: rotate(90deg);
		}
		.hourly-arrow {
			transition: transform 0.3s ease;
		}
	}

	.side {
		grid-area: side;
	}
}
