@import 'tailwindcss/preflight';
@import 'tailwindcss/utilities';

body {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'top top'
		'main side';

	.top {
		grid-area: top;
	}

	.main {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas:
			'current-info'
			'hourly-info'
			'other-info';
		grid-area: main;

		.current-info {
			grid-area: current-info;
		}

		.hourly-info {
			grid-area: hourly-info;
		}

		.other-info {
			grid-area: other-info;
		}
	}

	.side {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 0px 0px;
		grid-auto-flow: row;
		grid-template-areas:
			'weekday-title'
			'weekday-container';
		grid-area: side;

		.weekday-title {
			grid-area: weekday-title;
		}

		.weekday-container {
			grid-area: weekday-container;
		}
	}
}
